node_modules/
/.pnp/
.pnp.js
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
.vscode/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
/.idea/
*.log
/.cache/
public/SoloKiDuniya.png
node_modules
